.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", conditions_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_condition_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", condition_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.condition.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @condition.name
      %p
        %b
          = t("activerecord.attributes.condition.description", :default => t("activerecord.labels.description", :default => "Description"))
          \:
        = @condition.description
      %p
        %b
          = t("activerecord.attributes.condition.actions_id", :default => t("activerecord.labels.actions_id", :default => "Actions"))
          \:
        = @condition.actions_id
      %p
        %b
          = t("activerecord.attributes.condition.energy", :default => t("activerecord.labels.energy", :default => "Energy"))
          \:
        = @condition.energy
      %p
        %b
          = t("activerecord.attributes.condition.drive", :default => t("activerecord.labels.drive", :default => "Drive"))
          \:
        = @condition.drive
      %p
        %b
          = t("activerecord.attributes.condition.glory", :default => t("activerecord.labels.glory", :default => "Glory"))
          \:
        = @condition.glory
      %p
        %b
          = t("activerecord.attributes.condition.real_glory", :default => t("activerecord.labels.real_glory", :default => "Real glory"))
          \:
        = @condition.real_glory
      %p
        %b
          = t("activerecord.attributes.condition.glamour", :default => t("activerecord.labels.glamour", :default => "Glamour"))
          \:
        = @condition.glamour
      %p
        %b
          = t("activerecord.attributes.condition.money", :default => t("activerecord.labels.money", :default => "Money"))
          \:
        = @condition.money
      %p
        %b
          = t("activerecord.attributes.condition.operator", :default => t("activerecord.labels.operator", :default => "Operator"))
          \:
        = @condition.operator
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_condition_path(@condition), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), condition_path(@condition), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
