.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", actions_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_action_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Actions
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.action.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @actions.each do |action|
          %tr{:class => cycle("odd", "even")}
            %td
              = action.id
            %td
              = link_to action.name, action_path(action)
            %td
              = action.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", action_path(action)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_action_path(action)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", action_path(action), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @actions
- content_for :sidebar, render(:partial => 'sidebar')
