.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", actions_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_action_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", action_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.action.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @action.name
      %p
        %b
          = t("activerecord.attributes.action.description", :default => t("activerecord.labels.description", :default => "Description"))
          \:
        = @action.description
      %p
        %b
          = t("activerecord.attributes.action.delay", :default => t("activerecord.labels.delay", :default => "Delay"))
          \:
        = @action.delay
      %p
        %b
          = t("activerecord.attributes.action.parent_id", :default => t("activerecord.labels.parent_id", :default => "Parent"))
          \:
        = @action.parent_id
      %p
        %b
          = t("activerecord.attributes.action.has_children", :default => t("activerecord.labels.has_children", :default => "Has children"))
          \:
        = @action.has_children
      %p
        %b
          = t("activerecord.attributes.action.repeat", :default => t("activerecord.labels.repeat", :default => "Repeat"))
          \:
        = @action.repeat
      %p
        %b
          = t("activerecord.attributes.action.delta_energy", :default => t("activerecord.labels.delta_energy", :default => "Delta energy"))
          \:
        = @action.delta_energy
      %p
        %b
          = t("activerecord.attributes.action.delta_glory", :default => t("activerecord.labels.delta_glory", :default => "Delta glory"))
          \:
        = @action.delta_glory
      %p
        %b
          = t("activerecord.attributes.action.delta_drive", :default => t("activerecord.labels.delta_drive", :default => "Delta drive"))
          \:
        = @action.delta_drive
      %p
        %b
          = t("activerecord.attributes.action.delta_glamour", :default => t("activerecord.labels.delta_glamour", :default => "Delta glamour"))
          \:
        = @action.delta_glamour
      %p
        %b
          = t("activerecord.attributes.action.delta_real_glory", :default => t("activerecord.labels.delta_real_glory", :default => "Delta real glory"))
          \:
        = @action.delta_real_glory
      %p
        %b
          = t("activerecord.attributes.action.delta_money", :default => t("activerecord.labels.delta_money", :default => "Delta money"))
          \:
        = @action.delta_money
      %p
        %b
          = t("activerecord.attributes.action.contest_rating", :default => t("activerecord.labels.contest_rating", :default => "Contest rating"))
          \:
        = @action.contest_rating
      %p
        %b
          = t("activerecord.attributes.action.action_group_id", :default => t("activerecord.labels.action_group_id", :default => "Action group"))
          \:
        = @action.action_group_id
      %p
        %b
          = t("activerecord.attributes.action.ttl", :default => t("activerecord.labels.ttl", :default => "Ttl"))
          \:
        = @action.ttl
      %p
        %b
          = t("activerecord.attributes.action.disabler_action_id", :default => t("activerecord.labels.disabler_action_id", :default => "Disabler action"))
          \:
        = @action.disabler_action_id
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_action_path(@action), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), action_path(@action), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
