.block
  %h3 Navigation
  %ul.navigation
    %li
      = link_to "Characters", :characters
    %li
      = link_to "Places", :places
    %li
      = link_to "Actions", :actions
    %li
      = link_to "Conditions", :conditions
    %li
      = link_to "Items", :items
