.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", characters_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_character_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Characters
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.character.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @characters.each do |character|
          %tr{:class => cycle("odd", "even")}
            %td
              = character.id
            %td
              = link_to character.name, character_path(character)
            %td
              = character.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", character_path(character)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_character_path(character)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", character_path(character), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @characters
- content_for :sidebar, render(:partial => 'sidebar')
