.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", characters_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_character_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", character_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.character.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @character.name
      %p
        %b
          = t("activerecord.attributes.character.energy", :default => t("activerecord.labels.energy", :default => "Energy"))
          \:
        = @character.energy
      %p
        %b
          = t("activerecord.attributes.character.drive", :default => t("activerecord.labels.drive", :default => "Drive"))
          \:
        = @character.drive
      %p
        %b
          = t("activerecord.attributes.character.glory", :default => t("activerecord.labels.glory", :default => "Glory"))
          \:
        = @character.glory
      %p
        %b
          = t("activerecord.attributes.character.glamour", :default => t("activerecord.labels.glamour", :default => "Glamour"))
          \:
        = @character.glamour
      %p
        %b
          = t("activerecord.attributes.character.real_glory", :default => t("activerecord.labels.real_glory", :default => "Real glory"))
          \:
        = @character.real_glory
      %p
        %b
          = t("activerecord.attributes.character.money", :default => t("activerecord.labels.money", :default => "Money"))
          \:
        = @character.money
      %p
        %b
          = t("activerecord.attributes.character.sex", :default => t("activerecord.labels.sex", :default => "Sex"))
          \:
        = @character.sex
      %p
        %b
          = t("activerecord.attributes.character.level", :default => t("activerecord.labels.level", :default => "Level"))
          \:
        = @character.level
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_character_path(@character), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), character_path(@character), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
